<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <title>Conecta2</title>
</head>

<body>
  <!-- NAVBAR -->

  <nav class="navbar has-shadow is-white">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img class="image is-20x20" src="https://raw.githubusercontent.com/panchocorderos/conecta2-project/main/image/logo.png" >
      </a>

      <a id="burger" class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </a>

    </div>

    <div id="nav-links" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Inicio
        </a>


        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Repositorio
          </a>

          <div class="navbar-dropdown">
            <a href="https://github.com/panchocorderos/conecta2-project" class="navbar-item">
              Proyecto
            </a>
            <hr class="navbar-divider">
            <a href="https://github.com/pabpobar/Tarea1-Landing-Page" class="navbar-item">
              Clase
            </a>
          </div>

        </div>
      </div>

    </div>
  </nav>
  
  <div class= "container">
    <section class="hero is-white">
      <div class="hero-body">
        <div class="container">
          <div class="columns  is-vcentered reverse-columns">
            <div class="column
            is-10-mobile is-offset-1-mobile
            is-10-tablet is-offset-1-tablet
            is-5-desktop is-offset-1-desktop
            is-5-widescreen is-offset-1-widescreen
            is-5-fullhd is-offset-1-fullhd" data-aos="fade-down">
              <h1 class="title titled is-1 mb-6">
                ¿Qué es Conecta2?
              </h1>
              <h2 class=" subtitled subtitle has-text-grey is-4 has-text-weight-normal is-family-sans-serif">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
                nesciunt totam magni quas.
              </h2>
              
            </div>
            <div data-aos="fade-right" class="column
            is-10-mobile is-offset-1-mobile
            is-10-tablet is-offset-1-tablet
            is-4-desktop is-offset-1-desktop
            is-4-widescreen is-offset-1-widescreen
            is-4-fullhd is-offset-1-fullhd">
              <figure class="image is-square">
                <img src="https://raw.githubusercontent.com/panchocorderos/conecta2-project/main/image/logo.png">
              </figure>
            </div>
  
          </div>
        </div>
      </div>
    </section>

    
    <section class="is-flex is-flex-direction-column  mt-6 ">
      <h1 class="title titled is-1 mb-6 has-text-centered">
        Planificación general del proyecto
      </h1>
      <iframe id="calendario" src="calendar\calendar.html" height="900" width="100%"></iframe>
    </section>


    <section class="is-flex is-flex-direction-column  mt-6 ">
      <h1 class="title titled is-1 mb-6 has-text-centered">
        Cronograma inicial previsto
      </h1>
    </section>
  
  
    
    <section class="is-flex is-flex-direction-column  mt-6 ">
      <h1 class="title titled is-1 mb-6 has-text-centered">
        Nuestro Equipo
      </h1>
    </section>

    <div class="container is-flex is-justify-content-space-around is-flex-wrap-wrap mb-6">

      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://cdn.discordapp.com/attachments/832069215841419264/836636804768596058/unknown.png">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Francisco</h3>
            <p class="tag is-info mt-2">Scrum Master</p>
          </div>
        </div>
      </div>

      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://cdn.discordapp.com/attachments/832069215841419264/832069394964283402/unknown.png">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Simon</h3>
            <p class="tag is-info mt-2">Product Owner</p>
          </div>
        </div>
      </div>
      
      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://i.pinimg.com/474x/d4/4d/f9/d44df905874e739b4a4a7e603a0c04fa.jpg">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Daniel Carrasco</h3>
            <p class="tag is-info mt-2">Desarrollador</p>
          </div>
        </div>
      </div>
      
      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://cdn.discordapp.com/attachments/832069215841419264/832069232308387880/unknown.png">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Joaquin Cortes</h3>
            <p class="tag is-info mt-2">Desarrollador</p>
          </div>
        </div>
      </div>
      
      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://cdn.discordapp.com/attachments/832069215841419264/832069352408875017/unknown.png">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Alejandro</h3>
            <p class="tag is-info mt-2">Desarrollador</p>
          </div>
        </div>
      </div>
      
      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://cdn.discordapp.com/attachments/832011564285820968/836636608941654136/unknown.png">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Esteban</h3>
            <p class="tag is-info mt-2">Desarrollador</p>
          </div>
        </div>
      </div>
      
      <div class="card px-6 pt-6 pb-5 mt-4">
        <div class="is-flex is-flex-direction-column is-justify-align-center">
          <div>
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://cdn.discordapp.com/attachments/832069215841419264/832069438786109460/unknown.png">
            </figure>
          </div>
          <div class="content">
            <h3 class="has-text-centered has-text-weight-bold">Javier</h3>
            <p class="tag is-info">Diseñador</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  

  <footer class="footer">
  </footer>
  
  <script src="app.js"></script>

  
  
</body>

</html>